$color-black: #000;
$color-white: #fff;
$color-grey: #333;

.backdrop {
    margin-top: -2.5rem;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color-grey, 0.6);
    width: 100%;
    z-index: 200;
    height: 150vh;
}

.modal {
    position: absolute;
    top: 30%;
    left: 25%;
    z-index: 400;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 1rem 3rem;
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.6);
    height: 10rem;
    width: 50%;
    font-size: 2.5rem;

    &__icon {
        font-size: 3.5rem;
    }
}